<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.project.mapper.ProjectMapper">

	<insert id="ProjectInsert" parameterType="com.project.domain.ProjectVO">
		insert into test
		values
		(1,#{team},#{task},1,1,now(),now(),#{state})
	</insert>

	<!-- <select id="ProjectList" resultType="com.project.domain.ProjectVO">
		select * from test
	</select> -->
	
	<insert id="fileInsert" parameterType="com.project.domain.ProjectVO">
        insert into file_info (fileNo,fileName,fileWriter,fileDate,report)
            values
        (#{fileNo},#{fileName},#{fileWriter},now(),#{report})
    </insert>
   <insert id="fileInsert2" parameterType="com.project.domain.ProjectVO">
       update file_info set report= #{report} where fileName = #{fileName}
    </insert>
 
  <select id="fileList" resultType="com.project.domain.ProjectVO">
        select * from file_info
    </select>
    
    <select id="fileView" parameterType="int" resultType="com.project.domain.ProjectVO">
        select * from file_info where fileNo = #{fileNo}
    </select>
    
    <update id="fileUpdate" parameterType="com.project.domain.ProjectVO">
        update file_info set fileName = #{fileName}, fileWriter = #{fileWriter} where fileNo = #{fileNo}
    </update>
    
    <delete id="fileDelete" parameterType="int">
        delete from file_info where fileNo= #{fileNo}
    </delete>



</mapper>


